.NumberGenerator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 5px;
  background-color: #282c34;
  color: white;
  margin: 20px;
}

.NumberGenerator button {
  padding: 10px 20px;
  margin-top: 20px;
  color: #282c34;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.NumberGenerator button:hover {
  background-color: #34c9eb;
}

.NumberGenerator p {
  margin-top: 20px;
  color: #61dafb;
}
