.PasswordGenerator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 5px;
  background-color: #282c34;
  color: white;
  margin: 20px;
}

.PasswordGenerator button {
  padding: 10px 20px;
  margin-top: 20px;
  color: #282c34;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  pointer-events: cursor;
}

.PasswordGenerator button:hover {
  background-color: #34c9eb;
}

.PasswordGenerator p {
  margin-top: 20px;
  color: #61dafb;
  pointer-events: none;
}

.generatedPass {
  border: 1px solid #61dafb;
  width: 500px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 50px;
  color: whitesmoke;
  margin-bottom: 20px;
}

.goBackBtn {
  padding: 10px 20px;
  margin-top: 20px;
  color: #282c34;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  pointer-events: cursor;
}
